@use "vars" as v;
@use "typo" as typo;

#footer {
  width: 96vw;
  margin: 8rem 0rem;
  // border: 1px solid white;
}

@media (max-width: 768px) {
  #footer {
    .first-footer-left > img {
      max-width: 50%;
      margin: 0 auto;
    }
    .first-footer-right {
      display: none;
    }
  }
}
