@use "vars" as v;
@use "typo" as typo;

@media (max-width: 1024px) {
  #navigation {
    padding: 0 5rem;
  }

  .logo {
    flex: 30%;
  }
  .nav {
    flex: 70%;
    li.nav_item {
      justify-content: space-around;
      a.nav_link {
        font-size: 1rem !important;
      }
    }
  }
  .still-learning {
    font-size: 0.76rem !important;
    width: 100% !important;
    padding: 10px 20px !important;
  }

  h1.section-heading {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  body {
    // scroll-margin-bottom: 5rem;
  }
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    // border: 1px solid red;
    margin: 0 auto;
  }

  section {
    padding: 0;
    width: 100vw;
    margin-top: 0rem !important;
    margin-bottom: 4rem;
    scroll-margin-top: 2rem !important;
  }

  nav {
    position: fixed;
    padding: 0.8125rem 0;
    background-color: rgba(v.$color-low, 0.75);
    z-index: 1001;
    bottom: 4rem;
    left: 0;
    font-size: 0.75rem;
    margin: 0 auto;
    ul {
      padding: 0;
      margin: 0;
      width: 100vw;
      display: flex;
      justify-content: space-evenly;
    }
  }
  .highlight,
  .headline {
    text-align: center;
  }

  .logo {
    margin: 0 auto;
  }
  h1.section-heading {
    max-width: 66%;
    font-size: 1.6rem;
    padding: 0.5rem 0.75rem;
  }

  header,
  section {
    min-height: 100vh;
  }

  #navigation {
    background-color: v.$color-acc-high;
    height: 3rem;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    bottom: 4rem;
    .logo {
      flex: 1%;
      img {
        display: none;
      }
    }
    ul.nav {
      flex: 99%;
      justify-content: space-evenly;
      a.nav_link {
        color: v.$color-bg !important;

        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
      a.nav_link.active {
        border: 1px solid v.$color-bg;
        color: white !important;
      }
    }
  }

  .cta {
    margin-top: 3rem;
  }
  // .header--content-frist {
  //   order: 2;
  // }
  // .header--content-second {
  //   order: 1;
  // }
}

@media (max-width: 576px) {
  section {
    scroll-margin-top: -200px;
    padding: 0;
    margin: 0;
  }
  .cta {
    margin-top: 1rem;
  }
}
