@use "vars" as v;
@use "typo" as typo;

@media (max-width: 1024px) {
  #navigation {
    padding: 0 5rem;
  }

  .logo {
    flex: 30%;
  }
  .nav {
    flex: 70%;
    li.nav_item {
      justify-content: space-around;
      a.nav_link {
        font-size: 1rem !important;
      }
    }
  }
}

@media (max-width: 767px) {
  section {
    scroll-margin-top: 3rem;
  }
  .nav {
    background-color: v.$color-low;
    position: fixed;
    bottom: 4.5rem;
    left: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    // flex: 100%;
    // display: flex;
    justify-content: space-around;
    li.nav_item {
      a.nav_link {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
  }
}
