@use "vars" as v;
@use "typo" as typo;

@media (max-width: 1024px) {
  #navigation {
    padding: 0 5rem;
  }

  .logo {
    flex: 30%;
  }
  .nav {
    flex: 70%;
    li.nav_item {
      justify-content: space-around;
      a.nav_link {
        font-size: 1rem !important;
      }
    }
  }
}

@media (max-width: 767px) {
  section {
    scroll-margin-top: 3rem;
  }
  #navigation {
    background-color: v.$color-acc-high;
    height: 3rem;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    bottom: 4rem;
    .logo {
      flex: 1%;
      img {
        display: none;
      }
    }
    ul.nav {
      flex: 99%;
      justify-content: space-evenly;
      a.nav_link {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
  }
}
