@use "vars" as v;
@use "typo" as ty;

.footer {
  padding: 5rem 1rem;
  background: rgb(27, 38, 44);
  background: linear-gradient(
    180deg,
    rgba(27, 38, 44, 1) 50%,
    rgba(15, 76, 117, 1) 99%
  );
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  // margin-bottom: 2rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.footer__copyright {
  font-size: 1rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1rem;
}

.footer__credits {
  font-size: 0.875rem;
}

@media (max-width: 992px) {
  .footer {
    padding: 5rem 2rem;
    margin-bottom: 5rem;
    .footer__nav {
      display: none;
    }
    .footer__copyright {
      font-size: 0.875rem;
      p {
        font-size: 0.875rem;
      }
    }
    .footer__credits {
      font-size: 0.75rem;
    }
  }
}
