@use "vars" as v;
@use "typo" as ty;
@use "nav";
@use "sidebar";
@import "reset";

$spacer: 2rem;

body {
  background-color: v.$color-bg;
}

.container {
  width: 76vw;
}

.highlight {
  color: v.$color-high;
}

section {
  margin-top: 8rem;

  .section-heading {
    position: relative;
    text-align: center;
    color: v.$color-bg;
    display: inline;
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      height: 100%;
      width: 30%;
      padding: 2rem 2rem;
      background-color: v.$color-high;
      z-index: -1;
      transform-origin: center;
      transform: rotate(3deg) translateY(-0.5rem);
    }
  }
}

// RESPONSIVE DESIGN
@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
  nav {
    position: fixed;
    padding: 0.8125rem 0;
    background-color: rgba(v.$color-low, 0.75);

    bottom: 4rem;
    left: 0;
    font-size: 0.75rem;
    margin: 0 auto;
    ul {
      padding: 0;
      margin: 0;
      width: 100vw;
      display: flex;
      justify-content: space-evenly;
    }
  }
  .highlight,
  .headline {
    text-align: center;
  }

  .logo {
    margin: 0 auto;
  }
}
