@use "vars" as v;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;600&display=swap");
$font-mont: "Montserrat", sans-serif;
$font-titi: "Titillium Web", sans-serif;
$font-edu: "Edu NSW ACT Foundation", cursive;
$font-fig: "Figtree", sans-serif;
$font-cata: "Catamaran", sans-serif;
$font-over: "Overpass", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-mont;
  color: v.$color-text;
  &::selection {
    color: v.$color-bg;
    background: v.$color-high;
  }
}

p {
  font-family: $font-over;
  font-size: 1.05rem;
  line-height: 1.66rem;
  font-weight: 200;
  color: v.$color-text;
  &::selection {
    color: v.$color-bg;
    background: v.$color-high;
  }
}
