@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;600&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #bbe1fa;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  color: #1b262c;
  background: #3282b8;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 1.05rem;
  line-height: 1.66rem;
  font-weight: 200;
  color: #bbe1fa;
  margin-top: 1.5rem;
}
p::selection {
  color: #1b262c;
  background: #3282b8;
}

.header_title {
  font-size: 4rem;
}
.header_title span.cursive {
  font-family: "Edu NSW ACT Foundation", cursive;
  color: #3282b8;
}
.header_title span.design {
  position: relative;
  color: #bbe1fa;
  text-decoration: none;
  transition: all 0.3s;
}
.header_title span.design:before {
  content: "";
  position: absolute;
  top: 0 1px;
  left: 0;
  width: 100%;
  height: 90%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.5s;
}
.header_title span.design:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.header_title span.design:hover {
  color: #fff;
  display: inline-block;
}
.header_title span.design:hover:before {
  transform: scale(1.2);
  rotate: 5deg;
  opacity: 0.33;
}
.header_title span.design:hover:after {
  transform: scale(1) rotate(5deg);
  opacity: 0.9;
}
.header_title span.code {
  position: relative;
  color: #bbe1fa;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
.header_title span.code:before {
  content: "";
  position: absolute;
  top: 0 1px;
  left: 0;
  width: 100%;
  height: 90%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.5s;
}
.header_title span.code:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.header_title span.code:hover {
  color: #fff;
}
.header_title span.code:hover:before {
  transform: scale(1.2);
  rotate: 5deg;
  opacity: 0.33;
}
.header_title span.code:hover:after {
  transform: scale(1) rotate(5deg);
  opacity: 0.9;
}
.header_title span.stuff {
  position: relative;
  color: #bbe1fa;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
.header_title span.stuff:before {
  content: "";
  position: absolute;
  top: 0 1px;
  left: 0;
  width: 100%;
  height: 90%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.5s;
}
.header_title span.stuff:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.header_title span.stuff:hover {
  color: #fff;
}
.header_title span.stuff:hover:before {
  transform: scale(1.2);
  rotate: 5deg;
  opacity: 0.33;
}
.header_title span.stuff:hover:after {
  transform: scale(1) rotate(5deg);
  opacity: 0.9;
}

h1.section_heading {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 2.4rem;
  margin: auto;
  margin-bottom: 8rem;
  z-index: 999;
  opacity: 1;
}

.cursive {
  font-family: "Edu NSW ACT Foundation", cursive;
  color: #3282b8;
  font-size: 2rem;
}

.inlineLink {
  position: relative;
  text-decoration: underline;
}
.inlineLink:before {
  content: "";
  position: absolute;
  top: 0 1px;
  left: 0;
  width: 100%;
  height: 90%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.3s;
}
.inlineLink:after {
  content: "";
  position: absolute;
  top: -15%;
  left: -10%;
  width: 120%;
  height: 130%;
  background-color: #ee964b;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.inlineLink:hover {
  color: #1b262c;
}
.inlineLink:hover:before {
  transform: scale(1.3);
  rotate: 2.5deg;
  opacity: 0.15;
}
.inlineLink:hover:after {
  transform: scale(1) rotate(2.5deg);
  opacity: 0.9;
}

@media (max-width: 768px) {
  h1.header_title {
    font-size: 2rem;
    line-height: 2.6rem;
    margin-top: 6rem;
  }
}
header {
  height: 100vh;
  border: 1px solid #1b262c;
}

#navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 10rem;
  z-index: 99;
  margin: 0;
}
#navigation .logo {
  flex: 30%;
}
#navigation .logo img {
  height: 7rem;
  padding: 1rem;
}
#navigation ul.nav {
  flex: 70%;
  display: flex;
  justify-content: flex-end;
}
#navigation ul.nav li.nav_item {
  height: 100%;
}
#navigation ul.nav li.nav_item a.nav_link {
  position: relative;
  font-size: 1.25rem;
  color: #bbe1fa;
  text-decoration: none;
}

.fixed-style {
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: rgba(27, 38, 44, 0.95);
  border-bottom: 1px solid #0f4c75;
}
.fixed-style .logo img {
  height: 5rem !important;
}
.fixed-style a.nav_link {
  font-size: 0.95rem !important;
}

.active {
  background-color: #0f4c75;
  padding: 0;
  z-index: -2;
}

#sidebar-left {
  position: fixed;
  height: 100vh;
  bottom: 0;
  left: 0;
  width: 5rem;
  z-index: 101;
}
#sidebar-left .content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #bbe1fa;
  margin: 1rem auto;
}
#sidebar-left .content:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: calc(50% + 7px);
  height: 25%;
  width: 100%;
  border-left: 1px solid rgba(187, 225, 250, 0.15);
  z-index: 900;
}
#sidebar-left .content:before {
  position: absolute;
  content: "quick links";
  bottom: 10%;
  left: 6px;
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  height: auto;
  width: 100%;
  text-align: center;
  margin: 10px auto;
  transform: rotate(270deg);
  color: #3282b8;
  z-index: 1000;
}
#sidebar-left .content ul {
  list-style: none;
}
#sidebar-left .content ul li {
  height: 2rem;
  width: 100%;
  margin-bottom: 0.8rem;
}
#sidebar-left .content ul li a {
  font-size: 1.6rem;
  text-align: center;
  transition: all ease 0.2s;
  color: #bbe1fa;
  text-decoration: none;
}
#sidebar-left .content ul li a:hover {
  color: #3282b8;
  transform: translateY(2px);
  transition: transform 0.3s;
}

a.letterbuttons {
  font-size: 1.8rem !important;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}

@media (max-width: 768px) {
  #sidebar-left {
    border-top: 1px solid #0f4c75;
    background-color: #1b262c;
    padding-right: 1rem;
    height: 4rem;
    width: 100%;
  }
  #sidebar-left .content::after {
    display: none;
  }
  #sidebar-left .content::before {
    display: none;
  }
  #sidebar-left .content ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  #sidebar-left .content ul li {
    width: auto;
    display: inline;
  }
  #sidebar-left .content ul li a.letterbuttons {
    display: flex;
    align-items: start;
    margin-top: -10px;
  }
}
.p-card {
  position: relative;
  width: 100%;
  background-color: #1b262c;
  z-index: 5;
  outline: 0;
  border-radius: 0;
}
.p-card img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(0.7) saturate(0.1);
  height: 15rem;
}
.p-card .p-card-heading {
  position: absolute;
  display: flex;
  justify-content: center;
  top: calc(50% - 2rem);
  left: 25%;
  width: 50%;
  height: 4rem;
  background-color: #3282b8;
  color: white;
  transform: rotate(3deg);
  transition: transform 0.25s;
  z-index: 13;
}
.p-card .p-card-heading h3 {
  align-self: center;
  font-size: 1rem;
  text-align: center;
}
.p-card .p-card-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3282b8;
  color: white;
  position: absolute;
  width: 50%;
  height: 5rem;
  top: 18rem;
  left: 25%;
  z-index: 5;
}
.p-card .p-card-links a {
  color: white;
  font-size: 1.5rem;
  padding: 0rem 1rem;
}
.p-card .p-card-text {
  background-color: #1b262c;
  position: relative;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 12;
  border-top: 2px solid #1b262c;
  transition: all 0.3s;
}
.p-card .p-card-text p {
  font-size: 1rem;
  color: #bbe1fa;
  line-height: 1.5rem;
}
.p-card .p-card-text .p-card-text-used {
  margin-top: 1rem;
  text-align: center;
  color: #bbe1fa;
  font-size: 2rem;
}
.p-card:hover img {
  filter: grayscale(0);
  transition: filter 0.3s;
}
.p-card:hover .p-card-heading {
  transform-origin: center;
  transform: translateY(-5rem);
  transition: transform 0.3s;
}
.p-card:hover .p-card-text {
  border-top: 2px solid #0f4c75;
  transition: all 0.6s;
}
.p-card:hover .p-card-links {
  transform: translateY(-5rem) rotate(3deg);
  transition: transform 0.6s;
}
.p-card:hover .p-card-links a {
  transform: rotate(-3deg);
}
.p-card:hover .p-card-links a:hover {
  color: #bbe1fa;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .p-card .p-card-heading {
    width: 60%;
    top: 0;
    left: 40%;
  }
  .p-card .p-card-links {
    z-index: 20;
    width: 30%;
    height: 3rem;
    left: 0;
    top: 13rem;
  }
  .p-card:hover .p-card-heading {
    transform: none;
  }
  .p-card:hover .p-card-links {
    transition: none;
  }
}
.skill-badges {
  text-align: center;
  margin-bottom: 6rem;
}
.skill-badges .skill-badge {
  position: relative;
  color: #3282b8;
  font-size: 8rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  z-index: 98;
}

@media (max-width: 992px) {
  .skill-badges {
    text-align: center;
  }
  .skill-badges .skill-badge {
    font-size: 4rem;
    text-align: center;
  }
}
img.about {
  padding: 2rem;
}

.mdj-btn {
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  color: #bbe1fa;
  text-decoration: none;
  display: inline;
  transition: all 0.3s;
  padding: 5px 15px;
}
.mdj-btn:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f4c75;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.mdj-btn:hover {
  color: #fff;
}
.mdj-btn:hover:before {
  transform: scale(1.3);
  rotate: 3deg;
  opacity: 0.25;
}
.mdj-btn:hover:after {
  transform: scale(1) rotate(3deg);
  opacity: 0.9;
}

p {
  margin-top: 1.5rem !important;
}

@media (max-width: 768px) {
  img.about {
    padding: 1rem;
  }
}
#footer {
  width: 96vw;
  margin: 8rem 0rem;
}
#footer .footer-text-small {
  font-size: 0.8rem;
}

a.nav_link {
  position: relative;
  text-decoration: none;
  height: 100;
  color: #bbe1fa;
  padding: 0.5rem 1rem;
}
a.nav_link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(1) rotate(0);
  transition: all 0.4s;
  background-color: #3282b8;
  z-index: -1;
}
a.nav_link:hover {
  color: #3282b8;
  transition: all 0.25s;
  color: #1b262c;
}
a.nav_link:hover:after {
  transform-origin: center;
  transform: scale(1.05) rotate(3.5deg);
  opacity: 1;
  transition: all 0.4s;
}

li:last-child {
  margin-right: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  filter: blur(60);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #1b262c;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: #bbe1fa;
}
.modal-content h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}
.modal-content h5 {
  margin-top: 2rem;
  margin-bottom: 0rem;
  font-weight: 300;
}
.modal-content ul {
  margin-top: 0;
}
.modal-content ul li {
  font-weight: 300;
}

@media (max-width: 486px) {
  .modal-content {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .modal-content p {
    font-size: 0.875rem;
    line-height: 1.2rem;
  }
  .modal-content h1,
.modal-content h5,
.modal-content p {
    text-align: center;
  }
  .modal-content li {
    font-size: 0.875rem;
  }
  .modal-content .modal-header {
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 1rem;
    z-index: 999;
  }
}
.project0-case .project-case--img {
  width: 100%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: #bbe1fa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #3282b8;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: #1b262c;
  border: none;
  outline: none;
  height: auto;
}

.modal-body {
  background-color: #1b262c;
}

@media (max-width: 1024px) {
  #navigation {
    padding: 0 5rem;
  }
  .logo {
    flex: 30%;
  }
  .nav {
    flex: 70%;
  }
  .nav li.nav_item {
    justify-content: space-around;
  }
  .nav li.nav_item a.nav_link {
    font-size: 1rem !important;
  }
  .still-learning {
    font-size: 0.76rem !important;
    width: 100% !important;
    padding: 10px 20px !important;
  }
  h1.section-heading {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
  section {
    padding: 0;
    width: 100vw;
    margin-top: 0rem !important;
    margin-bottom: 4rem;
    scroll-margin-top: 2rem !important;
  }
  nav {
    position: fixed;
    padding: 0.8125rem 0;
    background-color: rgba(15, 76, 117, 0.75);
    z-index: 1001;
    bottom: 4rem;
    left: 0;
    font-size: 0.75rem;
    margin: 0 auto;
  }
  nav ul {
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }
  .highlight,
.headline {
    text-align: center;
  }
  .logo {
    margin: 0 auto;
  }
  h1.section-heading {
    max-width: 66%;
    font-size: 1.6rem;
    padding: 0.5rem 0.75rem;
  }
  header,
section {
    min-height: 100vh;
  }
  #navigation {
    background-color: #ee964b;
    height: 3rem;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    bottom: 4rem;
  }
  #navigation .logo {
    flex: 1%;
  }
  #navigation .logo img {
    display: none;
  }
  #navigation ul.nav {
    flex: 99%;
    justify-content: space-evenly;
  }
  #navigation ul.nav a.nav_link {
    color: #1b262c !important;
  }
  #navigation ul.nav a.nav_link::before {
    display: none;
  }
  #navigation ul.nav a.nav_link::after {
    display: none;
  }
  #navigation ul.nav a.nav_link.active {
    border: 1px solid #1b262c;
    color: white !important;
  }
}
@media (max-width: 480px) {
  section {
    scroll-margin-top: 0;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #1b262c;
}

p a {
  color: #3282b8;
  font-weight: 700;
  letter-spacing: 1px;
}
p a:hover {
  color: white !important;
}
p a:hover:after {
  background-color: rgba(50, 130, 184, 0.5);
}

.container {
  max-width: 76vw;
}

.header--content {
  margin-top: 8rem;
}

.highlight {
  color: #3282b8;
}

section {
  margin-top: 10rem;
  margin-bottom: 4rem;
  scroll-margin-top: 250px;
}
section .section-heading {
  position: relative;
  text-align: center;
  color: #3282b8;
  display: inline;
  margin: 0 auto;
  margin-bottom: 5rem;
  transform: rotate(3deg);
}

section#skills {
  scroll-margin-top: 225px;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(5rem);
}

.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}

.still-learning {
  position: absolute;
  top: 0;
  right: -1rem;
  width: 5rem;
  height: 20%;
  background-color: #ee964b;
  color: #1b262c;
  transform: rotate(6deg);
  z-index: 99;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-family: "Catamaran", sans-serif;
  padding: 10px 30px !important;
}

/*# sourceMappingURL=main.css.map */
