@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;600&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #bbe1fa;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  color: #1b262c;
  background: #3282b8;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 1.05rem;
  line-height: 1.66rem;
  font-weight: 200;
  color: #bbe1fa;
}
p::selection {
  color: #1b262c;
  background: #3282b8;
}

.header_title {
  font-size: 4rem;
}
.header_title span.cursive {
  font-family: "Edu NSW ACT Foundation", cursive;
  color: #3282b8;
}
.header_title span.design {
  position: relative;
  color: #bbe1fa;
  text-decoration: none;
  transition: all 0.3s;
}
.header_title span.design:before {
  content: "";
  position: absolute;
  top: 0 1px;
  left: 0;
  width: 100%;
  height: 90%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.5s;
}
.header_title span.design:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.header_title span.design:hover {
  color: #fff;
  display: inline-block;
}
.header_title span.design:hover:before {
  transform: scale(1.2);
  rotate: 5deg;
  opacity: 0.33;
}
.header_title span.design:hover:after {
  transform: scale(1) rotate(5deg);
  opacity: 0.9;
}
.header_title span.code {
  position: relative;
  color: #bbe1fa;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
.header_title span.code:before {
  content: "";
  position: absolute;
  top: 0 1px;
  left: 0;
  width: 100%;
  height: 90%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.5s;
}
.header_title span.code:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.header_title span.code:hover {
  color: #fff;
}
.header_title span.code:hover:before {
  transform: scale(1.2);
  rotate: 5deg;
  opacity: 0.33;
}
.header_title span.code:hover:after {
  transform: scale(1) rotate(5deg);
  opacity: 0.9;
}
.header_title span.stuff {
  position: relative;
  color: #bbe1fa;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
.header_title span.stuff:before {
  content: "";
  position: absolute;
  top: 0 1px;
  left: 0;
  width: 100%;
  height: 90%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.5s;
}
.header_title span.stuff:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.header_title span.stuff:hover {
  color: #fff;
}
.header_title span.stuff:hover:before {
  transform: scale(1.2);
  rotate: 5deg;
  opacity: 0.33;
}
.header_title span.stuff:hover:after {
  transform: scale(1) rotate(5deg);
  opacity: 0.9;
}

h1.section_heading {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 2.4rem;
  margin: auto;
  margin-bottom: 8rem;
  z-index: 999;
  opacity: 1;
}
h1.section_heading::after {
  position: absolute;
  content: "";
  border-top: 1px solid rgba(15, 76, 117, 0.3);
  height: 3rem;
  width: 10rem;
  top: 1.05rem;
  left: 50%;
}
h1.section_heading::before {
  position: absolute;
  content: "";
  border-top: 1px solid rgba(15, 76, 117, 0.3);
  height: 3rem;
  width: 10rem;
  top: 2.28rem;
  left: calc(50% - 10rem);
}

.cursive {
  font-family: "Edu NSW ACT Foundation", cursive;
  color: #3282b8;
  font-size: 2rem;
}

.inlineLink {
  position: relative;
  text-decoration: underline;
}
.inlineLink:before {
  content: "";
  position: absolute;
  top: 0 1px;
  left: 0;
  width: 100%;
  height: 90%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.3s;
}
.inlineLink:after {
  content: "";
  position: absolute;
  top: -15%;
  left: -10%;
  width: 120%;
  height: 130%;
  background-color: #0f4c75;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.inlineLink:hover {
  color: #fff;
}
.inlineLink:hover:before {
  transform: scale(1.3);
  rotate: 5deg;
  opacity: 0.15;
}
.inlineLink:hover:after {
  transform: scale(1) rotate(5deg);
  opacity: 0.9;
}

.nav {
  padding: 0 6rem;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(27, 38, 44, 0.95);
}
.nav ul.nav_links {
  display: flex;
  align-items: center;
  list-style: none;
  z-index: 101;
}
.nav ul.nav_links .nav_item {
  position: relative;
  margin-left: 4rem;
  transition: all 0.5s;
  transition: all 0.3s;
}
.nav ul.nav_links .nav_item a.nav_link:link,
.nav ul.nav_links .nav_item a.nav_link:visited {
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  color: #bbe1fa;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  padding: 5px 15px;
}
.nav ul.nav_links .nav_item a.nav_link:link:before,
.nav ul.nav_links .nav_item a.nav_link:visited:before {
  content: "";
  position: absolute;
  top: 0 1px;
  left: 0;
  width: 100%;
  height: 90%;
  border-top: 1px solid linear-gradient(90deg, rgb(50, 130, 184) 0%, rgb(27, 38, 44) 50%);
  border-bottom: 1px solid linear-gradient(90deg, rgb(50, 130, 184) 0%, rgb(27, 38, 44) 50%);
  border-left: 1px solid #3282b8;
  border-right: 1px solid #3282b8;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.5s;
}
.nav ul.nav_links .nav_item a.nav_link:link:after,
.nav ul.nav_links .nav_item a.nav_link:visited:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f4c75;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.nav ul.nav_links .nav_item a.nav_link:link:hover,
.nav ul.nav_links .nav_item a.nav_link:visited:hover {
  color: #fff;
}
.nav ul.nav_links .nav_item a.nav_link:link:hover:before,
.nav ul.nav_links .nav_item a.nav_link:visited:hover:before {
  transform: scale(1.3);
  rotate: 5deg;
  opacity: 0.25;
}
.nav ul.nav_links .nav_item a.nav_link:link:hover:after,
.nav ul.nav_links .nav_item a.nav_link:visited:hover:after {
  transform: scale(1) rotate(5deg);
  opacity: 0.9;
}
.nav .blur {
  filter: blur(0.5);
}
.nav .sticky {
  position: fixed;
  background-color: rgba(27, 38, 44, 0.95);
}
.nav .nav-logo {
  position: relative;
  height: 70px;
  transition: all 0.3s;
  z-index: 101;
}

.project_boxes-box {
  position: relative;
  padding: 2rem;
  margin-bottom: 4rem;
}
.project_boxes-box h3 {
  color: #3282b8;
}
.project_boxes-box .box-description {
  margin-top: 1rem;
}
.project_boxes-box .box-description p {
  padding-bottom: 1rem;
  border-bottom: 1px solid #3282b8;
}
.project_boxes-box .box-description .box-used-tech {
  color: #bbe1fa;
  display: flex;
  justify-content: center;
}
.project_boxes-box .box-description .box-used-tech .tech i {
  color: inherit;
  font-size: 2rem;
  padding: 0.6rem;
}
.project_boxes-box .box-description .box-used-tech .tech i img {
  width: 2rem;
  margin-top: 0.6rem;
}
.project_boxes-box .project-wrapper {
  position: relative;
}
.project_boxes-box .project-wrapper img {
  width: 100%;
}
.project_boxes-box .project-wrapper .project-links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background-color: rgba(15, 76, 117, 0.9);
  color: #bbe1fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_boxes-box .project-wrapper .project-links .close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.card {
  background-color: rgba(15, 76, 117, 0.8);
  overflow: hidden;
  transition: all 0.3s;
}
.card .card-img-top {
  background-color: black;
  min-height: 20rem;
  object-fit: cover;
  filter: grayscale(0.7);
  transition: all 0.2s;
}
.card:hover {
  background-color: #0f4c75;
}
.card:hover .card-img-top {
  filter: grayscale(0);
  transition: all ease-in-out 0.15s;
}
.card .card-title {
  font-family: "Catamaran", sans-serif;
  text-transform: uppercase;
}
.card .card-text {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba(187, 225, 250, 0.3);
  min-height: 7rem;
}
.card .used {
  position: relative;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  height: 4rem;
  color: #bbe1fa;
}
.card .used i {
  font-size: 2rem;
  padding: 0.6rem;
}
.card .used i img {
  width: 2rem;
}

.project-links-lg {
  position: absolute;
  width: 40%;
  bottom: -150%;
  left: 1rem;
  height: 125%;
  color: #1b262c;
  padding: 1rem;
  transition: transform 0.2s;
  background-color: #bbe1fa;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.project-links-lg a {
  width: 3rem;
}
.project-links-lg a.more::after {
  position: relative;
  left: 25%;
  bottom: 1rem;
  content: "more";
  font-size: 10px;
}
.project-links-lg a.go::after {
  position: relative;
  left: 1.2rem;
  bottom: 1rem;
  content: "visit";
  font-size: 10px;
}

.moveUp {
  transform: translateY(-100%);
  transition: transform 0.2s;
}

.goMiddle {
  justify-content: center;
}

.goRight {
  justify-content: end;
}

.skwd {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 5rem;
  transform: perspective(800px) rotateY(-12deg);
  transition: transform 1s ease 0s;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px, rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
}
.skwd:hover {
  transform: perspective(800px) rotateY(-4deg);
}

.skill-badges {
  text-align: center;
  margin-bottom: 6rem;
}
.skill-badges .skill-badge {
  color: #3282b8;
  font-size: 8rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .skill-badges {
    text-align: center;
  }
  .skill-badges .skill-badge {
    font-size: 4rem;
    text-align: center;
  }
}
.footer {
  padding: 10rem 3rem;
  background: rgb(27, 38, 44);
  background: linear-gradient(180deg, rgb(27, 38, 44) 50%, rgb(15, 76, 117) 99%);
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #3282b8;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-10-7 10:19:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  20% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  30% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  50% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  20% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  30% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  50% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
.vibrate-1 {
  -webkit-animation: vibrate-1 1s linear infinite both;
  animation: vibrate-1 1s linear infinite both;
}

.typewriter h3 {
  opacity: 1;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #3282b8; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3.5s steps(45, end), blink-caret 0.5s step-end forwards;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  filter: blur(60);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #1b262c;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: #bbe1fa;
}
.modal-content h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}
.modal-content h5 {
  margin-top: 2rem;
  margin-bottom: 0rem;
  font-weight: 300;
}
.modal-content ul {
  margin-top: 0;
}
.modal-content ul li {
  font-weight: 300;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: #bbe1fa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #3282b8;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: #1b262c;
  border: none;
  outline: none;
  height: auto;
}

.modal-body {
  background-color: #1b262c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-padding-top: 128px;
  box-sizing: border-box;
}

body {
  background-color: #1b262c;
  font-size: 1.05rem;
  line-height: 1.66rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

section {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 16rem;
  z-index: 0;
  transition: ease-in transform 0.5s, opacity 0.6s;
  border-top: 1px solid rgba(15, 76, 117, 0.2);
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  z-index: 3;
}

.header_content {
  height: calc(100vh - 128px);
  display: flex;
  align-items: center;
}

.contentWrap {
  position: relative;
  height: 50%;
}

.design_content {
  position: absolute;
  top: 3rem;
  transform: scale(0);
  padding: 2rem;
  opacity: 0;
  transform: rotate(0);
  transition: opacity 0.5s, scale 1s, transform 1s;
}
.design_content:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00c0cb;
  transform: scale(1);
  transform-origin: center;
  opacity: 1;
  transition: 0.5s;
  z-index: -1;
  -webkit-box-shadow: 9px 9px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 9px 5px 0px rgba(0, 0, 0, 0.5);
}

.design_content--img {
  position: relative;
  left: 37.5%;
  width: 25%;
  margin-bottom: 2rem;
}

.design_content--text {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: black;
}

.code_content {
  position: absolute;
  top: 128px;
  transform: scale(0);
  padding: 2rem;
  opacity: 0;
  transform: rotate(0);
  transition: opacity 0.5s, scale 1s, transform 1s;
}
.code_content:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dd74dd;
  transform: scale(1);
  transform-origin: center;
  opacity: 1;
  transition: 0.5s;
  z-index: -1;
  -webkit-box-shadow: 9px 9px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 9px 5px 0px rgba(0, 0, 0, 0.5);
}

.code_content--img {
  position: relative;
  left: 37.5%;
  width: 25%;
  margin-bottom: 2rem;
}

.code_content--text {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: black;
}

.stuff_content {
  position: absolute;
  top: 0px;
  transform: scale(0);
  padding: 2rem;
  opacity: 0;
  transform: rotate(0);
  transition: opacity 0.5s, scale 1s, transform 1s;
}
.stuff_content:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9b6a12;
  transform: scale(1);
  transform-origin: center;
  opacity: 1;
  transition: 0.5s;
  z-index: -1;
  -webkit-box-shadow: 9px 9px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 9px 5px 0px rgba(0, 0, 0, 0.5);
}

.stuff_content--img {
  position: relative;
  left: 37.5%;
  width: 25%;
  margin-bottom: 2rem;
}

.stuff_content--text {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #112240;
  opacity: 0;
  z-index: 0;
  transition: background-color 1.2s, opacity 1s;
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
  }
  .section {
    padding: 1rem;
  }
  .contentWrap {
    max-height: calc(100vh - 12rem);
  }
}
@media (max-width: 1576px) {
  .contentWrap {
    max-height: 50%;
  }
  .design_content,
.code_content,
.stuff_content {
    top: 0rem;
    margin-top: -5rem;
  }
  .design_content img,
.code_content img,
.stuff_content img {
    margin: 0;
    padding: 0;
    height: 180px;
  }
  .design_content p,
.code_content p,
.stuff_content p {
    margin-top: 0;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
.section--hidden {
  opacity: 0;
  transform: translateY(3rem);
}

.show {
  opacity: 1;
  visibility: visible;
}

.vspacer {
  margin: 6rem 0;
}

.underline {
  text-decoration: underline;
}

#work {
  margin-top: 10rem;
}

/*# sourceMappingURL=main.css.map */
