@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;600&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #bbe1fa;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  color: #1b262c;
  background: #3282b8;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 1.05rem;
  line-height: 1.66rem;
  font-weight: 200;
  color: #bbe1fa;
}
p::selection {
  color: #1b262c;
  background: #3282b8;
}

nav {
  padding: 2rem 2rem 0rem 2rem;
  max-width: 90%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
nav ul.nav_links {
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul.nav_links .nav_item {
  margin-left: 4rem;
  transition: all 0.5s;
}
nav ul.nav_links .nav_item a.nav_link:link,
nav ul.nav_links .nav_item a.nav_link:visited {
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  color: #bbe1fa;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  padding: 5px 15px;
}
nav ul.nav_links .nav_item a.nav_link:link:before,
nav ul.nav_links .nav_item a.nav_link:visited:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #3282b8;
  border-bottom: 1px solid #3282b8;
  border-left: 1px solid #3282b8;
  border-right: 1px solid #3282b8;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.5s;
}
nav ul.nav_links .nav_item a.nav_link:link:after,
nav ul.nav_links .nav_item a.nav_link:visited:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f4c75;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
nav ul.nav_links .nav_item a.nav_link:link:hover,
nav ul.nav_links .nav_item a.nav_link:visited:hover {
  color: #fff;
}
nav ul.nav_links .nav_item a.nav_link:link:hover:before,
nav ul.nav_links .nav_item a.nav_link:visited:hover:before {
  transform: scaleY(1.4);
  rotate: 15deg;
  opacity: 0.5;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
nav ul.nav_links .nav_item a.nav_link:link:hover:after,
nav ul.nav_links .nav_item a.nav_link:visited:hover:after {
  transform: scaleY(1);
  opacity: 0.9;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  overflow: hidden;
}
nav .nav.sticky {
  position: fixed;
}
nav .nav-logo {
  height: 70px;
}

/*# sourceMappingURL=nav.css.map */
